<!doctype html>
<html lang="en"><head><meta charset="UTF-8"><title><%= header %> Invisiclues</title>
<link rel="stylesheet" href="style.css">
<script>
function toggle(id) {
var span = document.getElementById(id);
if ("none" === span.style.display) { span.setAttribute("style","display:inline;"); }
else { span.setAttribute("style","display:none;"); }
}
</script>
</head>
<body>
<header>
<p><a href="./index.html">Invisiclues Index</a></p>
</header>
<main class="invisiclue">
<h1><%== header %> Invisiclues</h1>
<h2>Sample Question</h2>
    <%  sample.each do |question, answers| %>
      <% next if Symbol === question %>
      <%== templates.question.render(question: question, answers: answers, section_num: section_num, question_num: question_num) %>
    <% end %>

<%== templates.question.render(question: sample.keys.first, answers: sample.values.first, section_num: 0, question_num: 0) %>
<% if !anchors.empty? %>
  <h2>Table of Contents</h2><ul class="indented">
  <% anchors.each do |name, target| %>
    <li><a href="#<%= target %>"><%= name %></a></li>
  <% end %></ul>
<% end %>
<% section_num = 0 %>
<% sections.each do |name, content| %>
<% section_num += 1 %>
  <h2<% if anchors[name] %> id="<%= anchors[name] %>"<% end %>><%= name %></h2>
  <% if content[:lines] %>
    <% if content[:mono] %><pre class="mono"><%= content[:lines].join("\n") %></pre>
    <% else %>
  <div class="indented">
      <p>
    <% content[:lines].each.with_index(0) do |line,i| %>
        <% if content[:indent] %><%= '&ensp;' * (content[:indent][i] ? content[:indent][i] : 0) %><% end %><%= line %><% if content[:no_merge] %><br><% else %></p><p><% end %>
      <% end %>
    </p>
    </div>
    <% end %>
  <% question_num = 0 %>
    <%  content.each do |question, answers| %>
      <% next if Symbol === question %>
      <% question_num += 1 %>
      <%== templates.question.render(question: question, answers: answers, section_num: section_num, question_num: question_num) %>
    <% end %>
  <% end %>
<% end %>
<%== templates.footer.render %>
</main>
</body>
</html>
