<!doctype html>
<html lang="en"><head><meta charset="UTF-8"><title><%= header %> Invisiclues</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
<p><a href="./index.html">Invisiclues Index</a></p>
</header>
<main class="invisiclue">
<h1><%== header %> Invisiclues</h1>
<%== templates.question.render(question: sample.keys.first, answers: sample.values.first) %>
<% if !anchors.empty? %>
  <h2>Table of Contents</h2><ul class="indented">
  <% anchors.each do |name, target| %>
    <li><a href="#<%= target %>"><%= name %></a></li>
  <% end %></ul>
<% end %>
<% sections.each do |name, content| %>
  <h2<% if anchors[name] %> id="<%= anchors[name] %>"<% end %>><%= name %></h2>
  <% if content[:lines] %>
    <% if content[:mono] %><pre class="mono"><%= content[:lines].join("\n") %></pre>
    <% else %>
  <div class="indented">
      <p>
    <% content[:lines].each do |line| %>
        <%= line %><% if content[:no_merge] %><br><% else %></p><p><% end %>
      <% end %>
    </p>
    </div>
    <% end %>
  <% else %>
    <%  content.each do |question, answers| %>
      <%== templates.question.render(question: question, answers: answers) %>
    <% end %>
  <% end %>
<% end %>
<%== templates.footer.render %>
</main>
</body>
</html>
